*
{
	margin:0px;
	padding:0px;
}
html
{
	height:100%;
}
body
{
	overflow: hidden;
	text-align: center;
	color:#333;
}
h1
{
	font-size:4em;
	padding:5px;
	color:#B72114;
	text-shadow:2px 2px 2px #9D1D11,3px 3px 2px #9D1D11,4px 4px 2px #77160D, 5px 5px 2px rgb(30,30,30),6px 6px 2px #370A06,7px 7px 2px #000;
}
p
{
	padding:20px;
	font-size:18px;
}
#miCanvas
{
	margin-top: 20px;
	box-shadow:20px 20px 20px rgba(0,0,0,0.8);
	border: solid;
}